
<div>
    <h3>Paste Booli URL here:</h3>
    <div ng-controller="booliUrlController" class="form-group">
        <input type="text" value="test" ng-model="booliUrl" class="col-xs-4"/>
        <input type="button" ng-click="getListings()" value="Show listings" ng-disabled="booliUrl == null"/>
    </div>

    <h3>Listings:</h3>

    <table ng-controller="listingsController"  class="table table-striped">
    <thead>
        <th>Address</th>
        <th>Rooms</th>
        <th>Size</th>
        <th>Price</th>
        <th>Duration</th>
    </thead>
    <tbody ng-repeat="listing in listings">
        <tr>
            <td>{{listing.location.address.streetAddress}}</td>
            <td>{{listing.rooms}}</td>
            <td>{{listing.livingArea}}</td>
            <td>{{listing.listPrice}}</td>
            <td ng-controller="durationController">{{ duration | secondsToDateTime | date:'HH:mm:ss' }}</td>
        </tr>
    </tbody>
</table>

</div>