<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://unpkg.com/react@latest/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
		<script src="/static/js/app.js" type="text/babel"></script>
    </head>

    <body>
        <h1>Komute2</h1>
        <p>This page shows the commuting time for each Booli listing to your work address.</p>

        <div id="root"></div>
    </body>
</html>